In [1]:
import pyspark
import pandas as pd

In [5]:
pd.read_csv('table1.csv')

    Name  Age
0   Test   31
1   User   21
2  Mongo   11

In [6]:
from pyspark.sql import SparkSession

In [8]:
 spark = SparkSession.builder.appName('Practice').getOrCreate()

24/04/03 10:43:56 WARN Utils: Your hostname, Phoenxs-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.102.52 instead (on interface en0)
24/04/03 10:43:56 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/03 10:43:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
spark

In [10]:
df_pyspark = spark.read.csv('table1.csv')

In [34]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [35]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
| Test| 31|
| User| 21|
|Mongo| 11|
+-----+---+

In [19]:
df = spark.read.option('header', 'true').csv('table1.csv')

In [21]:
df.show()

+-----+---+
| Name|Age|
+-----+---+
| Test| 31|
| User| 21|
|Mongo| 11|
+-----+---+

In [49]:
df.head(3)

[Row(Name='Test', Age='31'),
 Row(Name='User', Age='21'),
 Row(Name='Mongo', Age='11')]

In [50]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)